header {
	background-color: rgb(240, 239, 249);
	height: 6rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid darkgray;
}

header a {
	color: purple;
	text-decoration: none;
	margin-left: 1rem;
}

nav {
	display: flex;
}

nav .nav-item {
	color: purple;
	padding: 1rem;
	font-size: 1.5rem;
	font-weight: 500;
}

.nav-leave-game, .logout-container svg {
	cursor: pointer;
}

.nav-leave-game:hover {
	color: rgb(96, 3, 96);
}

nav .nav-item svg {
	padding-left: 1rem;
}

nav .nav-item .username {
	padding: 0 1rem;
}