.pre-game {
    text-align: center;
    border: 2px solid darkgray;
    border-radius: 20px;
    margin: 2rem 25% 0 25%;
    width: 50%;
    padding-bottom: 2rem;
}

.pre-game-grid {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.pre-game-header, .pre-game-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.pre-game-column-header {
    font-weight: bold;
    margin: 0.5rem 2rem;
    font-size: 1.25rem;
    width: 5rem;
}

.fa-circle-check {
    color: green;
    margin: 0.5rem 2rem;
    width: 5rem;
}

.pre-game-name, .pre-game-ready-empty, .pre-game-chips {
    width: 5rem;
    margin: 0.5rem 2rem;
}

.pre-game p {
    padding-bottom: 1rem;
    border-bottom: 1px solid darkgray;
}

.pre-game-toggle-ready {
    height: 3rem;
    width: 6rem;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.pre-game-true {
    border: 1px solid darkred;
}

.pre-game-false {
    border: 1px solid darkgreen;
}

.previous-goal-suit-container {
   width: 100%; 
}

.suit-image-pre-game {
    height: 1rem;
    width: auto;
    padding: 0 0.25rem;
}